<%- include('partials/header.ejs') %>
            <a class="nav-link" href="/">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<h3>Current bars table</h3>
    
    <table class="table table-striped">
        <tr>
            <th>ID</th><th>Name</th><th>Wrap Color</th><th>Nut</th><th>Nut Type</th><th>Size</th><th>Calories</th><th>Price</th>
        </tr>
        <% candyInfo.forEach(function(candyInfo) { %>  
            <tr>
                <td><%=candyInfo['bar_id']%></td>
                <td><%=candyInfo['candy_name']%></td>
                <td><%=candyInfo['wrap_color']%></td>
                <td><%=candyInfo['nut']%></td>
                <td><%=candyInfo['nut_type']%></td>
                <td><%=candyInfo['size_oz']%> oz.</td>
                <td><%=candyInfo['kcal']%> cal.</td>
                <td>$<%=candyInfo['price']%></td>
                <td><button bar_id=<%=candyInfo['bar_id']%> class="delRow btn btn-primary btn-login text-uppercase font-weight-bold mb-2">Delete Item</button></td>
            </tr>
        <% }) %>
    </table>

<%- include('partials/footer.ejs') %>