<%- include('partials/header.ejs') %>
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminLogin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
        <header>
            <div class="container"></div>
            <br>
            <h2 align="center">Your Cart</h2>
        </header>

        <main>
            <br>
            <table class="table table-striped" id="cart">
                <thead>
                    <th class="Product_Description">Product</th>
                    <th class="UnitPrice">Unit Price</th>
                    <th class="Quantity">Quantity</th>
                    <th class="Total">Total</th>
                </thead>
                
                <% cartInfo.forEach(function(cartInfo) { %>
                    <tr>
                        <td><img src=img/bars/<%=cartInfo['bar_id']%>.jpg alt="Item" width="80"><%=cartInfo['candy_name']%></td>
                        <td>$<%=cartInfo['price'].toFixed(2)%></td>
                        <td><input type="number" min="1" max="5" id="quantity" value= "<%=cartInfo['quantity']%>"></td>
                        <td>$<%=(cartInfo['price']*cartInfo['quantity']).toFixed(2)%></td>
                    </tr>
                <% }) %>
            </table>

            <div id="summary" align="center">
                <button id="cartButton" class="btn btn-primary btn-login text-uppercase font-weight-bold mb-2" action="/">Update Cart</button>
                <h5>Subtotal:</h5>
                <h5 class="subtotal"></h5>
                <h3>Total:</h3>
                <h3 id="total"></h3>
            </div>
            
        </main>

<%- include('partials/footer.ejs') %>