<%- include('partials/header.ejs') %>
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


    <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <br>
        <div class="list-group">
          <a href="#" class="list-group-item">All Candy</a>
          <a href="#" class="list-group-item">No Nuts</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <br>
        <div class="row">

<!-- THIS IS WHAT WE HAVE TO REPEAT TWENTY TIMES, ONCE FOR EACH BAR -->
        <% candyInfo.forEach(function(candyInfo) { %>  
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="img/bars/<%=candyInfo['bar_id']%>.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">
                  <%=candyInfo['candy_name']%>
                </h4>
                <h5 id="price">$<%=candyInfo['price']%></h5>
                <ul class="card-text">
                  <li id="nuts"><b>Nuts: </b><%=candyInfo['nut']%> </li>
                  <li id ="nutType"><b>Nut Type: </b><%=candyInfo['nut_type']%></li>
                  <li id= "calories"><b>Calories: </b><%=candyInfo['kcal']%></li>
                </ul>
    
                <% if(candyInfo['quantity'] > 0){ %>
                  <img bar_id=<%=candyInfo['bar_id']%> class="cartIcon" src="img/cartFull.png" width="20" align="right">
                <% } else{ %>  
                  <img bar_id=<%=candyInfo['bar_id']%> class="cartIcon" src="img/cartEmpty.png" width="20" align="right">
                <% } %>
              </div>
            </div>
          </div>
        <% }) %>
<!-- END BAR LISTING -->

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  
<%- include('partials/footer.ejs') %>